<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Katalog Restaurant</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <nav-item></nav-item>

  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Restaurant Apps</h1>
      <p class="hero_tagline">Jikalau Anda Lapar Dan Punya Uang Lebih Maka Carilah Tempat Makan Yang Anda Inginkan
        Dibawah Ini</p>
    </div>
  </div>

  <card-item></card-item>

  <footer>
    <p>Copyright © 2022 - Restaurant Apps</p>
  </footer>
</body>

</html>